// App.scss

@import 'src/styles/MyColors.scss';

.app {
  background-color: rgb(53, 31, 1);
  max-width: 1024px; /* Endret fra kommentert ut verdi */
  padding: 10px;
}

// Resten av stilen for MyHeader.scss forblir uendret
