//BookCard.scss

@import 'src/styles/MyColors.scss';

.book-card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: $secondaryColor;
  border: 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px $ShadowColor;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  
    .book-details {
      grid-column: 2;
      padding: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:14px;
      line-height: 14px;
    }

    .book-image {
      img {
        grid-row: span 3;
        cursor: pointer;
        width: 150px;
        height: 190px;
        max-width: 150px;
        max-height: 190px;
        border: 1px;
        border-radius: 5%;
        border-color: $BorderColor;
        box-shadow: 5px 2px 5px 5px $ShadowColor;
      }
    }
  }