//BookCard.scss

@import 'src/styles/MyColors.scss';

.book-card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center; /* Sentrerer innholdet horisontalt */
  align-items: center; /* Sentrerer innholdet vertikalt */
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px $ShadowColor;
  padding-bottom: 10px;
  margin-top: 10px;
  
    .book-details {
      grid-column: 2;
      padding: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:12px;
      line-height: 14px;
    }

    .book-image {
      width: 100px;
      padding-left: 1px;
      img {
        cursor: pointer;
        width: 150px;
        height: 200px;
        border-radius: 5%;
        border-color: $BorderColor;
        box-shadow: 1px 3px 2px 3px $ShadowColor;
        margin-left: 20px;
      }
    }
    .amazon-button,
    .merinfo-button {
      display: inline-block; /* Endret fra grid til inline-block */
      color: $TextButtonColor;
      width: auto;
      height: auto;
      border: 1px solid $BorderColor;
      box-shadow: 1px 2px 1px 2px $ShadowColor;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 11px;
      margin-left: 20px;
      margin-right: -20px; /* Avstand mellom knappene */
    }
        
    .amazon-button:hover,
    .merinfo-button:hover {
      color: $TextButtonColorHover;
    }
  }
  @media screen and (min-width: 100px) and (max-width: 400px) {
    .app {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      margin: auto;
      padding: 20px;
    }
    
      .book-card {
        display: grid;
        grid-template-rows: repeat(2, 1fr); /* Viser tre like rader */
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 370px;
        width: 100%;
        max-width: 400px;
    
        .book-card{
          margin-left: 20px;
        }
    
        .book-image {
          img {
            cursor: pointer;
            width: 120px;
            height: 140px;
            border: 1px;
            border-radius: 5%;
            border-color: $BorderColor;
            box-shadow: 2px 2px 3px 3px $ShadowColor;
            margin-left: 20px;
            justify-items: center;
            margin-top: 20px;
            margin-bottom: 40px;
          }
        }
      
        .book-details {
          display: flex;
          flex-direction: column;
          grid-row: 2;
          margin-left: -150px;
      }
          h3{
            font-size: 16px;
            margin: -50px 0; /* Legger til litt avstand mellom avsnittene */
            line-height: 20px;
            margin-bottom: -20px
          }
          p {
            margin: 5px 0; /* Legger til litt avstand mellom avsnittene */
            font-size: 12px;
            margin-top: 20px;
            line-height: 1px;
          }
        }
    
          .amazon-button,
          .merinfo-button {
            display: inline-block; /* Endret fra flex til inline-block for å muliggjøre margin */
            margin-right: 10px; /* Legger til avstand mellom knappene */
            padding: 5px 15px;
            color: $TextButtonColor;
            border: 1px solid $BorderColor;
            box-shadow: 1px 2px 1px 2px $ShadowColor;
            border-radius: 5px;
            cursor: pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10px;
            font-weight: bold;
            width: auto; /* Justerbar bredde */
            margin: 5px;
          }
    
          .amazon-button:hover,
          .merinfo-button:hover {
            color: $TextButtonColorHover;
          }
        }
    