// Definer fargevariabler
$primaryColor: #17395e;
$secondaryColor: #e6e3e3;
$BackButtonColor: #072544;
$TextButtonColor: Black;
$BackButtonColorHover: #0056b3;
$TextButtonColorHover: red;
$ShadowColor: rgba(194, 193, 193, 0.75);
$MessageShortLength: rgb(27, 27, 26);
$MessageNotFound: rgb(27, 27, 26);;
$MessageLoading: rgb(27, 27, 26);;
$BorderColor:#535151;
$BorderButtonColor:#f8f4f4;