// Definer fargevariabler
$primaryColor: #17395e;
$secondaryColor: #e6e3e3;
$BackButtonColor: #072544;
$TextButtonColor:white;
$BackButtonColorHover: #0056b3;
$TextButtonColorHover: yellow;
$ShadowColor: rgba(194, 193, 193, 0.75);
$MessageShortLength: rgb(216, 182, 110);
$MessageNotFound: red;
$MessageLoading: rgb(114, 231, 114);
$BorderColor:#535151;
$BorderButtonColor:#f8f4f4;